<section
  data-section-id="{{ section.id }}"
  data-section-type="{{ type }}"
  class="section"
>
  {% assign alignment = heading_alignment %}
  <div class="featured-collection featured-collection--{{ alignment }} {% render 'section-style' with outlined: section.settings.outline %}">

    {%- assign collection = collections[featured_collection] -%}

    <div class="featured-collection__details">
      {% if title != blank %}
        <h2 class="type-heading-1 measure-narrow">{{ title }}</h2>
      {% endif %}

      {% if collection_subheading != blank %}
        <p class="type-body-regular featured-collection__subheading">{{ collection_subheading }}</p>
      {% endif %}

      {% if link_text != blank %}
        <a href="{{ collection.url }}" class="accent-link">{{ link_text }} &rarr;</a>
      {% endif %}
    </div>

    {%- assign max_products = products_per_row | times: rows -%}

    <div class="featured-collection__content" data-slider>

      {% for product in collection.products limit: max_products %}

        <div class="featured-collection__item featured-collection__item--{{ products_per_row }}{% render 'aspect-ratio-modifier' with aspect_ratio: section.settings.aspect_ratio %}">
          {% render 'product-tile' with product: product %}
        </div>

      {% else %}

        {% for i in (1..max_products) %}
          <div class="featured-collection__item featured-collection__item--{{ products_per_row }}{% render 'aspect-ratio-modifier' with aspect_ratio: section.settings.aspect_ratio %}">
            <div class="w-100">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                <div class="placeholder-image">
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>

              <h2 class="type-body-regular mt3 mb0">
                {{ 'homepage.onboarding.product_title' | t }}
              </h2>
              <p class="type-body-regular meta ma0">{{ 1999 | money }}</p>
            </div>
          </div>
        {% endfor %}
      {% endfor %}

    </div>
  </div>
</section>