<!DOCTYPE html>

<!--
      ___                       ___           ___           ___
     /  /\                     /__/\         /  /\         /  /\
    /  /:/_                    \  \:\       /  /:/        /  /::\
   /  /:/ /\  ___     ___       \  \:\     /  /:/        /  /:/\:\
  /  /:/ /:/ /__/\   /  /\  ___  \  \:\   /  /:/  ___   /  /:/  \:\
 /__/:/ /:/  \  \:\ /  /:/ /__/\  \__\:\ /__/:/  /  /\ /__/:/ \__\:\
 \  \:\/:/    \  \:\  /:/  \  \:\ /  /:/ \  \:\ /  /:/ \  \:\ /  /:/
  \  \::/      \  \:\/:/    \  \:\  /:/   \  \:\  /:/   \  \:\  /:/
   \  \:\       \  \::/      \  \:\/:/     \  \:\/:/     \  \:\/:/
    \  \:\       \__\/        \  \::/       \  \::/       \  \::/
     \__\/                     \__\/         \__\/         \__\/

--------------------------------------------------------------------
#  Context v1.9.1
#  Documentation: https://fluorescent.co/help/context/
#  Purchase: https://themes.shopify.com/themes/context/
#  A product by Fluorescent: https://fluorescent.co/
--------------------------------------------------------------------

-->

<html class="no-js supports-no-cookies" lang='{{ shop.locale }}'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='theme-color' content="{{ settings.color_accent }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel='canonical' href='{{ canonical_url }}'>
    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {% capture seo_title %}
      {{ page_title }}
      {% if current_tags %}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {% endif %}
      {% if current_page != 1 %}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {% endif %}
      {% unless page_title contains shop.name %}
        &ndash; {{ shop.name }}
      {% endunless %}
    {% endcapture %}
    <title>{{ seo_title }}</title>

    {% render 'head-meta' %}

    {% if template.directory == 'customers' %}
      <script src='{{ 'shopify_common.js' | shopify_asset_url }}' defer='defer'></script>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@1"></script>

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', '');
      cssVars();

      window.theme = {
        version: 'v1.9.1',
        strings: {
          name: {{ shop.name | json }},
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }},
          quickCartCheckout: {{ 'layout.cart.checkout' | t | json }},
          collection: {
            filter: {{ 'collections.general.filter' | t | json }},
            sort: {{ 'collections.general.sort' | t | json }},
            apply: {{ 'collections.general.apply' | t | json }},
            show: {{ 'collections.general.show' | t | json }},
            manual: {{ 'collections.sort.manual' | t | json }},
            price_ascending: {{ 'collections.sort.price_ascending' | t | json }},
            price_descending: {{ 'collections.sort.price_descending' | t | json }},
            title_ascending: {{ 'collections.sort.title_ascending' | t | json }},
            title_descending: {{ 'collections.sort.title_descending' | t | json }},
            created_ascending: {{ 'collections.sort.created_ascending' | t | json }},
            created_descending: {{ 'collections.sort.created_descending' | t | json }},
            best_selling: {{ 'collections.sort.best_selling' | t | json }},
          },

          cart: {
            general: {
              currency: {{ 'cart.general.currency' | t | json }},
              empty: {{ 'cart.general.empty' | t | json }}
            }
          },
          general: {
            menu: {
              logout: {{ 'general.menu.logout' | t | json }},
              login_register: {{ 'general.menu.login_register' | t | json }}
            },
            products: {
              recently_viewed: {{ 'general.products.recently_viewed' | t | json }},
              no_recently_viewed: {{ 'general.products.no_recently_viewed' | t | json }}
            }
          },
          products: {
            product: {
              view: {{ 'products.product.view' | t | json }},
              unavailable: {{ 'products.product.unavailable' | t | json }},
              unitPrice: {{ 'products.product.unit_price_label' | t | json }},
              unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }}
            }
          },
          layout: {
            cart: {
              title: {{ 'layout.cart.title' | t | json }}
            }
          },
          search: {
            headings: {
              articles: {{ 'search.headings.articles' | t | json }},
              pages: {{ 'search.headings.pages' | t | json }},
              products: {{ 'search.headings.products' | t | json }}
            },
            view_all: {{ 'search.view_all' | t | json }}
          }
        },
        moneyFormat: "{{ shop.money_format }}",
        urls: {
          cart: {
            base: "{{ routes.cart_url }}",
            add: "{{ routes.cart_add_url }}",
            change: "{{ routes.cart_change_url }}"
          },
          product: {
            recommendations: "{{ routes.product_recommendations_url }}"
          },
          // Manual routes until Shopify adds support
          products: "{% if routes.root_url == '/' %}/products{% else %}{{ routes.root_url }}/products{% endif %}",
          search: {
            base: "{{ routes.search_url }}"
          }
        }
      }

      {% if template.directory == 'customers' %}
        window.theme.allCountryOptionTags = {{ all_country_option_tags | json }};
      {% endif %}
    </script>

    {% render 'css-variables' %}
    {{ 'index.css' | asset_url | stylesheet_tag }}
    {{ 'lightbox.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  </head>

  <body class='preload {% if settings.uppercase_headings %}g-uppercase{% endif %}'>

    <main role='main' id='root'>
      <header class="header-container" data-component="stickyHeader">
        {% section 'static-announcement-bar' %}
        {% section 'static-header' %}
      </header>
      {% section 'static-drawer-menu' %}
      {% render 'modal' %}
      {{ content_for_layout }}
      {% section 'static-exit-intent' %}
      {% section 'static-footer' %}
      {% render 'store-availability-drawer' %}
    </main>

    <div id='siteOverlay' class='site-overlay'></div>

    {{ '//www.youtube.com/iframe_api' | script_tag }}
    {{ '//cdn.shopify.com/shopifycloud/shopify-plyr/v1.0/shopify-plyr.css' | stylesheet_tag }}
    <script src='{{ 'index.js' | asset_url }}' defer='defer'></script>
    <script src="{{ 'lightbox-plus-jquery.js' | asset_url }}" defer="defer"></script>
    <style>
      .lb-nav a.lb-prev {
        background: url({{'arrow-left.svg' | asset_url}}) no-repeat;
        background-size: 24px;
        background-position: 10px center;
      }
      .lb-nav a.lb-next {
        background: url({{'arrow-right.svg' | asset_url}}) no-repeat;
        background-size: 24px;
        background-position: calc(100% - 10px) center;
      }
      .lightbox .lb-close {
        background: url({{'close.svg' | asset_url}}) top right no-repeat;
      }
    </style>
  </body>
</html>
